In [1]:
import pandas as pd
import numpy as np 
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("../Datasets/BTC.csv")

In [4]:
df.head()

  Crypto      Date    Open    High     Low   Close
0    BTC  12/31/19  7254.0  7309.0  7132.0  7171.0
1    BTC  12/30/19  7402.0  7430.0  7217.0  7254.0
2    BTC  12/29/19  7334.0  7529.0  7295.0  7402.0
3    BTC  12/28/19  7235.0  7359.0  7235.0  7334.0
4    BTC  12/27/19  7208.0  7267.0  7087.0  7235.0

In [6]:
print("Dataframe Shape: " , df.shape)
print("Dataframe feature Datatypes: ", df.dtypes)
print("Dataframe Description: ", df.describe())

Dataframe Shape:  (1974, 6)
Dataframe feature Datatypes:  Crypto     object
Date       object
Open      float64
High      float64
Low       float64
Close     float64
dtype: object
Dataframe Description:                 Open          High           Low         Close
count   1974.000000   1974.000000   1974.000000   1974.000000
mean   20639.256839  21173.736069  20064.781662  20643.867275
std    16391.724861  16828.496642  15900.462608  16390.452205
min     3188.000000   3266.000000   3156.000000   3188.000000
25%     8010.000000   8213.750000   7748.000000   8007.750000
50%    11752.500000  12054.000000  11497.500000  11750.000000
75%    30955.250000  31873.750000  29689.000000  30983.250000
max    67802.000000  68925.000000  66112.000000  67802.000000

In [7]:
df.isnull().sum()

Crypto    0
Date      0
Open      0
High      0
Low       0
Close     0
dtype: int64